{% extends "base_email.html" %}
{% load i18n %}

{% block content %}
<p>
    {% blocktrans %}Greetings{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},
</p>
{% blocktrans %}
<p>
    You are receiving this email because you (or someone pretending to be you)
    requested that your password be reset on the {{ domain }} site. If you do not
    wish to reset your password, please ignore this message.
</p>
{% endblocktrans %}

{% blocktrans %}
<p>Click on the button to reset your password:</p>
{% endblocktrans %}
<p>
    {% url 'password_reset_confirm' uid token as the_url %}
    {% include "partials/email_btn.html" with protocol=protocol domain=domain url=the_url text='Reset Password' %}
</p>
<p>
  If you’re having trouble clicking the "Reset Password" button, copy and paste the URL below into your web browser:
    <a rel="noreferrer" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}">
      {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}
    </a>
</p>
<p>{% blocktrans %}Best regards{% endblocktrans %},<br>
    {{ site_name }} {% blocktrans %}{% endblocktrans %}</p>
{# This is used by django.contrib.auth #}

{% endblock %}
