{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-5">
            <h1>Stats</h1>
            {% for metric in metrics %}
                <div class="card">
                    <div class="card-body bg-primary text-white py-2 pt-3">
                        <h5 class="py-0">{{ metric.name|title }}</h5>
                    </div>
                    <div class="card-body py-1">
                        <div class="row border-bottom mb-2">
                            <div class="col-6">
                                Mean: {{ metric.mean }}
                            </div>
                            <div class="col-6 text-right">
                                Standard deviation: {{ metric.std }}
                            </div>
                        </div>
                        <div class="card-text">
                            <demo metric="{{ metric.name }}"></demo>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}