{% extends "base.html" %}
{% block title %} {{ article.title }} {% endblock %}
{% block content %}

<div class="container m-5">
    <h1>{{ article.title }}</h1>
    <b>Author: {{ article.author.email }}</b> <br>
    {{ article.body|linebreaks }}
    <br><br>
    {% if user.is_authenticated and user.email == article.author.email %}
    <div class="buttons">
        <a href="{% url 'articles:edit' article.id %}">
            <button class="btn btn-primary">
                Edit
            </button>
        </a>
        <a href="{% url 'articles:delete' article.id %}">
            <button class="btn btn-secondary">
                Delete
            </button>
        </a>
    </div>
    {% endif %}
</div>

{% endblock %}