{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-8 mt-5">
            Here's how to start using umpire.
            <br><br>
            Install umpire:
            <div class="bg-dark text-white my-2 p-2">
                <samp>pip install umpire-ai</samp>
            </div>
            Then, try to use umpire for the first time with your api key.
            Your API key:<br>
            <div class="bg-dark text-white my-2 p-2">
                <samp>{{ user.api_key }}</samp>
            </div>
            Initiate umpire:
            <div class="bg-dark text-white my-2 p-2">
                <samp>
                    import umpire-ai<br>
                    umpire = Umpire(api_key='{{user.api_key}}')<br>
                    model = umpire.track(model, model_name='my_model_name', metrics=['confidence'])
                </samp>
            </div>
            Your <code>model</code> should be the object you will use to do a prediction. It doesn't matter if this is a PyTorch or TensorFlow model.
            Umpire will figure out which one you are using.<br>
            Your <code>model_name</code> is just a string to describe the model you are monitoring.<br>
            Now, use your model to predict something and refresh this page to see the confidence.
            <div class="bg-dark text-white my-2 p-2">
                <samp>
                    model.predict(img)
                </samp>
            </div>
        </div>
    </div>
</div>
{% endblock %}