{% extends "base.html" %}
{% block title %} ML Performance monitoring {% endblock %}
{% block content %}
<div class="container m-md-5 hero">
    <div class="row m-1 m-md-5 align-self-center">
        <div class="col-sm-12 col-md-8 mt-5">
            <h1>
                Performance monitoring of your machine learning product.
            </h1>
            <h4 class="mt-4">
                Start tracking model performance within minutes.
            </h4>
            <div class="col-sm-12 col-md-7 bg-dark text-white pt-2 pb-2">
                <samp>pip install umpire-ai</samp>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container">
    <hr class="m-1 m-md-5">
</div>
<div class="container m-1 m-md-5">
    <div class="row m-1 m-md-5 align-self-center">
        <div class="col-sm-12 col-md-10">
            <h3>Example</h3>
            Give Umpire your model and your api key, and it will hook into TensorFlow's or Pytorch's
            <code>model.predict()</code>.
            <div class="bg-dark text-white mt-2 p-2">
                <samp>
                    import umpire-ai<br>
                    umpire = Umpire(api_key={my_api_key})<br>
                    model = umpire.track(model, metrics=['confidence'])
                </samp>
            </div>
            <div class="pt-2">
                <a href="" class="text-link">Read the documentation</a>
            </div>
        </div>
    </div>
    <div class="container"><hr class="m-1 m-md-5"></div>
    <div class="row mt-2 mt-md-5 mx-1 mx-md-5">
        <div class="col-12 col-md-4"></div>
        <div class="col-12 col-md-8">
            <h3>Built with privacy in mind</h3>
            <div class="pt-md-2">
                Umpire only stores the final metrics you want to track,
                so it will never be able to know more than you want about your model. <br>
                All of our machine learning code is open source, so you can verify that you can trust us.<br>
                <a href="" class="text-link">
                    <i class="fab fa-github"></i> Umpire's GitHub
                </a>
            </div>
        </div>
    </div>
    <div class="container"><hr class="m1 m-md-5"></div>
    <div class="row mb-2 mb-md-5">
        <div class="col-12 text-center">
            <a href="{% url 'accounts:register' %}">
                <button class="btn btn-lg btn-primary">
                    Sign up
                </button>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid bg-primary">
        <div class="row">
            <div class="col-12 text-white text-center pb-3 pt-3">
                Made in Europe (Amsterdam) by @gietema
            </div>
        </div>
    </div>
</div>
{% endblock %}
