{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700&display=swap" rel="stylesheet">
    
    {% include "partials/favicons.html" %}

    <title>Umpire | {% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="app">
      {% include "partials/navbar.html" %}
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>

    {% render_bundle 'main' %}
  </body>
</html>